/* Styles for screens up to 768px wide (mobile devices) */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .header {
        display: block;
    }

    .div2,
    .div3,
    .div4 {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .group-parent{
        display: flex;
        flex-wrap: wrap;
    }
}