/* nav bar styling ,....................................................................................*/
.web {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 8238px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-gray-200);
    font-family: var(--font-montserrat);
}

.list {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.get-quote {
    position: relative;
    line-height: 150%;
    text-transform: capitalize;
}

.row {
    position: absolute;
    top: 54px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    font-size: var(--font-size-sm);
    color: var(--color-white);
}

.quick-link {
    position: absolute;
    top: 45px;
    left: 548px;
    width: 905px;
    height: 260px;
    font-size: var(--font-size-xl);
    color: var(--color-linen);
}

.rectangle-parent28 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1453px;
    height: 419px;
}

.group-wrapper {
    position: absolute;
    top: 169px;
    left: calc(50% - 720px);
    width: 1440px;
    height: 419px;
}

.biphone-icon {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    flex-shrink: 0;
}

.transform-your-home {
    position: relative;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    width: 238px;
}

.transform-your-home-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.pngegg-3-icon {
    position: relative;
    width: 131px;
    height: 39px;
    object-fit: cover;
}

.pngegg-3-parent {
    position: absolute;
    top: 27px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-sm);
}

.frame-parent1 {
    position: relative;
    width: 280px;
    height: 66px;
}

.biphone-parent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.envelope-icon {
    position: relative;
    width: 33.69px;
    height: 23.13px;
}

.subscribe-to-our {
    position: relative;
    letter-spacing: -0.3px;
    font-weight: 500;
}

.email-address,
.rectangle {
    position: absolute;
    mix-blend-mode: normal;
}

.rectangle {
    height: 1.96%;
    width: 100%;
    top: 98.04%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    opacity: 0.1;
}

.email-address {
    top: calc(50% - 9.5px);
    left: 4.61%;
    letter-spacing: -0.2px;
    opacity: 0.5;
}

.submit-icon {
    position: absolute;
    height: 100%;
    width: 17.3%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 82.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.form {
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    width: 289px;
    height: 51px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 15px;
    color: #25343b;
    font-family: var(--font-pangram);
}

.envelope-parent,
.subscribe-to-our-new-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
}

.envelope-parent {
    position: absolute;
    top: 0;
    left: 481px;
    flex-direction: row;
    gap: var(--gap-base);
}

.envelope-icon1 {
    position: relative;
    width: 45px;
    height: 38px;
}

.span {
    font-size: var(--font-size-base);
}

.mon-to-sat-10am-to-7pm {
    font-size: var(--font-size-sm);
}

.contact-us-mon-container {
    position: relative;
    line-height: 24px;
    display: inline-block;
    width: 306px;
    font-size: var(--font-size-lg);
}

.div,
.logoswhatsapp-icon {
    position: relative;
    flex-shrink: 0;
}

.logoswhatsapp-icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.div {
    line-height: 24px;
    display: inline-block;
    width: 194px;
    height: 24px;
}

.logoswhatsapp-icon-parent {
    width: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}

.material-symbolscall-sharp-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.contact-us-mon-to-sat-10am-t-parent,
.envelope-group {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.envelope-group {
    position: absolute;
    top: 0;
    left: 969.69px;
    width: 343px;
    flex-direction: row;
    gap: var(--gap-base);
    font-size: var(--font-size-base);
}

.frame-container {
    position: absolute;
    top: 42.48px;
    left: 64px;
    width: 1312.69px;
    height: 85px;
}

.frame-group,
.group-frame {
    position: absolute;
    left: calc(50% - 720.5px);
    width: 1441px;
}

.group-frame {
    top: 0;
    background-color: rgba(34, 51, 59, 0.9);
    height: 169px;
    overflow: hidden;
    font-size: var(--font-size-lg);
}

.frame-group {
    top: 3551px;
    height: 588px;
    font-size: var(--font-size-base);
    color: var(--color-white);
}

.child,
.group-parent24 {
    position: absolute;
    top: 4098.56px;
    left: -0.35px;
    width: 1441px;
    height: 4139px;
}

.child {
    top: 0;
    left: 0;
    background-color: var(--color-darkslategray-100);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 1440px;
    height: 41px;
    overflow: hidden;
}

.frame-item {
    position: relative;
    width: 120px;
    height: 3px;
}

.hardware-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 11px;
    color: #c6ac8f;
}

.laminates-mica {
    position: relative;
}

.frame-parent2 {
    position: absolute;
    top: 10px;
    left: calc(50% - 620.5px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}

.div2 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 1440px;
    height: 41px;
}

.frame-inner {
    position: relative;
    width: 15px;
    height: 19px;
}

.enter-pincode {
    position: relative;
    font-weight: 500;
}

.change-pincode {
    position: relative;
    opacity: 0.7;
}

.enter-pincode-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
}

.group-parent27,
.iconamoondelivery-fast-light-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.group-parent27 {
    gap: var(--gap-xs);
}

.iconamoondelivery-fast-light-parent {
    gap: 9px;
}

.div3,
.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    flex-direction: row;
    gap: 900px;
}

.div3 {
    background-color: var(--color-linen);
    width: 1440px;
    height: 40px;
    overflow: hidden;
    flex-direction: column;
    padding: 9px 88px;
    box-sizing: border-box;
    color: var(--color-darkslategray-100);
}

.div3,
.image-1-icon,
.item {
    position: absolute;
    top: 0;
    left: 0;
}

.item {
    background-color: var(--color-white);
    width: 1440px;
    height: 70px;
}

.image-1-icon {
    width: 150px;
    height: 43.86px;
    object-fit: cover;
}

.brands-parent {
    position: absolute;
    top: 12px;
    left: 190.75px;
    width: 266.55px;
    height: 19.44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.system-solid-19-book-1-2 {
    position: relative;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.system-solid-19-book-1-2-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.vector-icon3 {
    position: relative;
    width: 19.87px;
    height: 19.88px;
}

.vector-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
}

.vector-icon4,
.vector-icon5 {
    position: relative;
    width: 20px;
    height: 18px;
}

.vector-icon5 {
    width: 18px;
}

.frame-parent3,
.seacrch {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.frame-parent3 {
    top: 2px;
    left: 1050.34px;
    width: 251.67px;
    height: 39px;
    align-items: flex-end;
    gap: 22px;
    font-size: var(--font-size-xs);
}

.seacrch {
    top: 0.41px;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    width: 423.59px;
    height: 40.83px;
    padding: 3.4999988079071045px 23.62499237060547px 3.4999988079071045px 20.99999237060547px;
    align-items: center;
}

.vuesaxlinearsearch-normal-icon {
    position: relative;
    width: 15.75px;
    height: 15.75px;
}

.button {
    position: absolute;
    top: 0;
    left: 380.2px;
    border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
    background-color: var(--color-darkslategray-100);
    width: 43.39px;
    height: 40.83px;
    display: flex;
    flex-direction: row;
    padding: 6.999997615814209px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.seacrch-parent {
    position: absolute;
    top: 1.59px;
    left: 531.69px;
    width: 423.59px;
    height: 41.25px;
    font-size: var(--font-size-sm);
    color: #b5b5b5;
}

.image-1-parent {
    position: absolute;
    top: 13px;
    left: 69px;
    width: 1302px;
    height: 43.86px;
}

.div4,
.header {
    position: absolute;
    width: 1440px;
}

.div4 {
    top: 40px;
    left: 0;
    height: 70px;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
}

.header {
    top: 0;
    left: 0.45px;
    height: 151px;
    color: var(--color-white);
}

/* nav bar styling ends here */
/* hero section styling starts here /////////////////////////////////////////////////////////////////////////////////////*/
.screenshot-2023-07-31-at-1028 {
    position: absolute;
    top: 151px;
    left: 0;
    width: 1441px;
    height: 600px;
    object-fit: cover;
}

.screenshot-2023-07-31-at-10281 {
    position: absolute;
    top: 151px;
    right: 0;
    width: 1440px;
    height: 600px;
    object-fit: cover;
}

/* hero section styling end here */
.web-child {
    position: absolute;
    top: 151px;
    left: calc(50% - 719.85px);
    width: 1440px;
    height: 600px;
}

/* this is explore section started */
.products {
    font-weight: 600;
}

.explore-a-catalogue-container {
    position: absolute;
    top: 0;
    left: calc(50% - 377px);
    display: inline-block;
    width: 754px;
}

.explore-a-catalogue-of-5000-p-wrapper {
    position: absolute;
    top: 0;
    left: calc(50% - 389.5px);
    width: 754px;
    height: 34px;
}

.laminates-sunmica {
    top: 0;
    font-weight: 500;
    display: inline-block;
}

.laminates-sunmica,
.laminates-sunmica-parent,
.up-to-40 {
    position: absolute;
    left: calc(50% - 115px);
    width: 230px;
}

.up-to-40 {
    top: 30px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    display: inline-block;
}

.laminates-sunmica-parent {
    top: 368px;
    height: 70px;
}

.instance-child {
    border-radius: var(--br-7xs);
    object-fit: cover;
}

.instance-child,
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 350px;
}

.group-div {
    position: relative;
    width: 300px;
    height: 438px;
}

.pvc-laminates,
.pvc-laminates-parent {
    position: absolute;
    left: calc(50% - 108px);
    width: 216px;
}

.pvc-laminates {
    top: 0;
    font-weight: 500;
    display: inline-block;
}

.pvc-laminates-parent {
    top: 368px;
    height: 50px;
}

.group-parent1 {
    position: relative;
    width: 300px;
    height: 418px;
}

.whopping-40-off {
    position: absolute;
    top: 30px;
    left: calc(50% - 108px);
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    display: inline-block;
    width: 216px;
}

.group-container {
    position: absolute;
    top: 58px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 47px;
    font-size: var(--font-size-xl);
}

.group-parent {
    position: absolute;
    top: 801px;
    left: calc(50% - 670.85px);
    width: 1341px;
    height: 496px;
    text-align: center;
    font-size: var(--font-size-9xl);
}

/* this is our unbeataable catologue  started */
.label {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 35.09px;
    font-weight: 500;
}

.label-container,
.label-frame,
.label-wrapper {
    position: absolute;
    top: 0;
    left: 242px;
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-lightgray);
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs);
    align-items: center;
    justify-content: center;
}

.label-container,
.label-frame {
    left: 423px;
}

.label-frame {
    left: 623px;
}

.frame-parent,
.label-wrapper1 {
    position: absolute;
    left: 0;
    height: 50px;
}

.label-wrapper1 {
    top: 0;
    border-radius: var(--br-9xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    padding: var(--padding-xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.frame-parent {
    top: 78px;
    width: 746px;
}

.our-unbeatable {
    font-weight: 500;
}

.our-unbeatable-catalogue-container {
    position: absolute;
    top: 0;
    left: calc(50% - 232px);
    display: inline-block;
    width: 464px;
}

.our-unbeatable-catalogue-wrapper {
    position: relative;
    width: 464px;
    height: 34px;
}

.the-way-to {
    position: absolute;
    top: 0;
    left: calc(50% - 367px);
    display: inline-block;
    width: 734px;
}

.the-way-to-blissful-interior-wrapper {
    position: relative;
    width: 734px;
    height: 20px;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
}

.group-parent5 {
    position: absolute;
    top: 0;
    left: calc(50% - 367px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    text-align: center;
    font-size: var(--font-size-9xl);
    color: var(--color-gray-200);
}

.group-parent4 {
    position: absolute;
    top: 1361px;
    left: 347px;
    width: 746px;
    height: 128px;
    font-size: var(--font-size-lg);
    color: var(--color-darkslategray-100);
}

/* this is our unbeataable catologue  ends */